// Base style sheet


//Primary colors
$custom-color-one: #0054A4; //reflex blue


//Secondary colors
$custom-color-five: #B5D5F0; //PMS 277
$custom-color-six: #5091CD; //PMS 279

//Tertiary colors
$custom-color-eight: #221F72; //PMS 274
$custom-color-nine: #7D4199; //PMS 2593
$custom-color-twelve: #00A0AF; //PMS 320
$custom-color-fifteen: #EE3524; //PMS 1795


#home {
/* Rectangle 1: */

background-image: -o-linear-gradient(-69deg, #F5F5F5 0%, $custom-color-five 100%);
background-image: -moz-linear-gradient(-69deg, #F5F5F5 0%, $custom-color-five 100%);
background-image: -webkit-linear-gradient(-69deg, #F5F5F5 0%, $custom-color-five 100%);
background-image: -ms-linear-gradient(-69deg, #F5F5F5 0%, $custom-color-five 100%);
background-image: linear-gradient(-159deg, #F5F5F5 0%, $custom-color-five 100%);

}

.panel ul {
	list-style-type: none;
     margin:0; padding:0;
     text-align: left;

     li {
	     padding-left: 1.5em;
	     position: relative;
	     list-style-type: none;
	     background: url(/assets/img/bullet.png) no-repeat;
	     margin-bottom: 1em;
		line-height: 1.3em;
		font-family: $header-font-family;
     }
}



.panel {
	background-color: rgb(255,255,255);
	background-color: rgba(255, 255, 255, 0.70);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.template {
	background: url(/assets/img/orb-gray.png) no-repeat 120% 0;
}

.template-header{
	background: red;
	margin: 0;
	padding: 0;
	
	h5{
	color: #fff;
	text-transform: uppercase;
		span{
				font-weight: normal;
		}
	
	}
	
}

.centered-text{
	text-align: center;
}

div.template{
	margin: 1.5rem auto;
}

a.button {
	font-family: $header-font-family;
}

.facebook, .twitter {
	display: inline-block;
	width: 32px; height: 32px;
	background: $primary-color;
}

.facebook:hover, .twitter:hover {
	background: darken($primary-color, 10%);
	}


div#footer{
	background: #444;
	color: #757575;
	padding: 3rem 0;
	font-family: $header-font-family;
	font-weight: normal;
	
	img{
		float: left;
		margin-right: 1rem;
	}
	
	a{
		margin: 0 15px 0 0;
	}
	
	#creds{
		margin-top: 1rem;
	}
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin-bottom: 16px;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#primary_content ul {
	padding-left: 20px;
}
.post_tags a {
	padding-right: 10px;
}
@media only screen and (min-width: 768px) {	
	
	div#footer{
		a{
			margin: 0 0 0 15px;
		}
		#creds{
			text-align: right;
		}
	}
}
@media print {
  div:not(.reveal-modal) {
    display: inherit !important;
  }
}