div#intro{
	text-align: center;

}

div#home{
		h2{
		padding: 1rem 0 2rem;
		text-align: center;
		color: #D62828;
	}
}

div#testimonial{
	background: #B5D1E8;
	padding: 3rem 0 1rem;
	
	img#headshot{
		margin: 0 auto;
		text-align: center;
		display: block;
	}
	
	img.client-logo{
		margin: 1rem;
	}
	
	h5{
		color: #999;
		font-weight: normal;
		text-transform: uppercase;
	}
	
	#logos{
		margin: 1.5rem auto;
		padding-top: 2rem;
		border-top: 1px solid #ccc;
	}
	
}

#home .section-container{

	section{



	 	p.title{
	
			display: block;
			width:50%;
			text-align: center;
			background: #ccc;
			-moz-border-radius: 5px 5px 0 0;
			-webkit-border-radius: 5px 5px 0 0;
			border-radius: 5px 5px 0 0;
		}
	
		a{
			color: $primary-color;
			font-size: 1rem;
			font-family: $header-font-family;
		}
		
		a.button{
			@include button;
		}
	
		a:hover{
			background: darken(#ccc, 15%);
			color: #fff;
			-moz-border-radius: 5px 5px 0 0;
			-webkit-border-radius: 5px 5px 0 0;
			border-radius: 5px 5px 0 0;
		}

		.content {background: #fff;}
	}
	
	section.active{
		
		a{
			color: #111;
			font-weight: bold;
			background: #eee url(../img/subtle_dots.png);
			-moz-border-radius: 5px 5px 0 0;
			-webkit-border-radius: 5px 5px 0 0;
			border-radius: 5px 5px 0 0;
		}

		a.button{
			@include button;
		}

		.content {

			background: #eee url(../img/subtle_dots.png);
		}
		
		
	}
	
}




div#social{
	background: #aaa;
	padding: 3rem 0;
	
	span{
		font-weight: normal;
		color: #555;
	}
	
	a{
		color: #eee;
		text-decoration: underline;
	}
	
	a.social-icon{
		margin: 1rem 1rem 1rem 0;
	}
	
}


div#footer{
	background: #444;
	color: #eee;
	padding: 3rem 0;
	
	img{
		float: left;
		margin-right: 1rem;
	}
	
	a{
		margin: 0 15px 0 0;
	}
	
	#creds{
		margin-top: 1rem;
	}
}


@media only screen and (min-width: 768px) {	
	
	div#footer{
		a{
			margin: 0 0 0 15px;
		}
		#creds{
			text-align: right;
		}
	}
}