div#masthead{
	background: #eee url(../img/subtle_dots.png);
	font-family: $header-font-family;
	
	.top-bar{
		margin-bottom:0;
	
		li a{
			font-size: 13px;
			font-weight: normal;
			
		}

	}
	
	#logo{
		margin: 1rem  auto;
		display: block;
	}
}

// .top-bar-section li a:not(.button) {
// 	padding: 0 11px;
// }

div#subnav{
	text-align: center;
	background: #f1f1f1;
	padding: .25rem;
	
	p{
		padding: 1rem auto;
		margin-bottom: inherit;
	}
	span{
		font-weight: bold;
	}
}


@media only screen and (min-width: 768px) {	
	
div#masthead{
	
	
	#logo{
		margin:inherit;
		display: inherit;
		margin: 1rem auto;
	}
}

div#subnav{
	text-align: right;
		margin-top: 1rem;
		background: inherit;
		padding: 0 1rem;
	
	p{
		padding: 1rem auto;
		margin-bottom: inherit;
	}
	span{
		font-weight: bold;
		// display: block;
		// font-size: 1.5rem;
	}
}
}

