div#masthead{
	// background: #eee url(../img/subtle_dots.png);
	background: #fff;
	background-image: -o-linear-gradient(-82deg, #FFFFFF 22%, #F2F2F2 100%);
	background-image: -moz-linear-gradient(-82deg, #FFFFFF 22%, #F2F2F2 100%);
	background-image: -webkit-linear-gradient(-82deg, #FFFFFF 22%, #F2F2F2 100%);
	background-image: -ms-linear-gradient(-82deg, #FFFFFF 22%, #F2F2F2 100%);
	background-image: linear-gradient(-172deg, #FFFFFF 22%, #F2F2F2 100%);
	font-family: $header-font-family;
	box-shadow: 0px 0px 6px #9C9C9C;
	overflow: visible;
	position: relative;
	z-index: 100;

	.top-bar{
		margin-bottom:0;
	
		li a{
			font-size: 14px;
			font-weight: normal;
			
		}
		
		li.divider:last-child {
			display: none;
		}

	}
	
	#logo{
		margin: 1rem  auto;
		display: block;
	}
}

// .top-bar-section li a:not(.button) {
// 	padding: 0 11px;
// }

div#subnav{
	text-align: center;
	background: #f1f1f1;
	padding: .25rem;
	
	p{
		padding: 1rem auto;
		margin-bottom: inherit;
	}
	span{
		font-weight: bold;
	}
}


@media only screen and (min-width: 768px) {	
	
div#masthead{
	
	
	#logo{
		margin:inherit;
		display: inherit;
		margin: 1rem auto;
	}
}

div#subnav{
	text-align: right;
		margin-top: 1rem;
		background: inherit;
		padding: 0 1rem;
	
	p{
		padding: 1rem auto;
		margin-bottom: inherit;
	}
	span{
		font-weight: bold;
		// display: block;
		// font-size: 1.5rem;
	}
}
}

