nav.top-bar#templates{
	background: #333;
	font-size: 11px;
	margin-bottom: 0;
	
	.title-area{
		background: #333;
	}
	
	li a{
		background: #333;
		font-size: 11px;
		color: #fff;
	}
	
	li a:hover{
		cursor: hand;
	}
	
	li a.current{
		background: darken(#333,10%);
	}
}


div.blog{
	article span{
		color: #666;
		font-size: .9rem;
		margin-bottom: 1rem;
		display: block;
	}
}

div.row.blog{
	border-bottom: 1px solid #ddd;
	margin-bottom: 2rem;
}